@using AssetManagement.DataAccessLibrary.DataModels
@using AssetManagement.DataAccessLibrary
@inject NavigationManager NavigationManager
@inject ComputerService ComputerService
@inject IJSRuntime JSRuntime
@inject IMatDialogService MatDialogService
@namespace AssetManagement.Server.Components

@if (pageAssets == null)
{
    <LoadingBar/>
}
else
{
    <MatButton Class="mb-2" Style="background-color: dodgerblue" Raised="true" Icon="archive" @onclick="AddNewAsset">Tilføj Asset</MatButton>
    
    <MatButton Label="Vis Kolonner..." OnClick="FilterMenuShow" RefBack="@buttonForwardRef"></MatButton>
    <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef" Class="w-auto p-2 pr-3 mt-5" Style="align-items: center">
        <MatCheckbox Class="menuItem" @bind-Value="@showModelColumn">Model</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showSerialNumberColumn">Serienummer</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showIdColumn">ID</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showOwnerColumn" Label="">Ejer</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showUsernameColumn">Brugernavn</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showLastChangedColumn">Sidst Ændret</MatCheckbox>
        <MatCheckbox Class="menuItem" @bind-Value="@showPcAdStatusColumn">PC-AD Status</MatCheckbox>
    </MatMenu>
    
    <div style="float: right;">
        <MatTextField TValue="string" Label="Søgning" OnInput="OnSearchInput"></MatTextField>
    </div>
    
    <table class="table text-center">
        <thead>
        <tr>
            <th class="@(showModelColumn ? "" : "d-none")">Model</th>
            <th class="@(showSerialNumberColumn ? "" : "d-none")">Serienummer</th>
            <th class="@(showIdColumn ? "" : "d-none")">ID</th>
            <th class="@(showOwnerColumn ? "" : "d-none")">Ejer</th>
            <th class="@(showUsernameColumn ? "" : "d-none")">Brugernavn</th>
            <th class="@(showLastChangedColumn ? "" : "d-none")">Sidst Ændret</th>
            <th class="@(showPcAdStatusColumn ? "" : "d-none")">PC-AD Status</th>
            <th class="@(showStateColumn ? "" : "d-none")">State</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Computer computer in pageAssets)
        {
            <tr>
                <td class="@(showModelColumn ? "" : "d-none")">@(computer.Model)</td>
                <td class="@(showSerialNumberColumn ? "" : "d-none")">@(computer.SerialNumber)</td>
                <td class="@(showIdColumn ? "" : "d-none")">@(computer.PcName)</td>
                <td class="@(showOwnerColumn ? "" : "d-none")">@(computer.CurrentHolder)</td>
                <td class="@(showUsernameColumn ? "" : "d-none")">@(computer.CurrentHolder.Username)</td>
                <td class="@(showLastChangedColumn ? "" : "d-none")">@computer.LastChanged</td>
                <td class="@(showPcAdStatusColumn ? "" : "d-none")">Awaiting Imp.</td>
                <td class="@(showStateColumn ? "" : "d-none")">@(computer.CurrentState)</td>
                <td>
                    <MatButton @onclick="() => NavigateToDetails(computer)" Match="NavLinkMatch.All">
                        🕵️‍♂️ Detaljer
                    </MatButton>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="container fixed-bottom pb-4 align-bottom">
        <div class="row justify-content-center">
            <MatButton Class="col-3 w-25" Unelevated="true" disabled=@(navigator.PageIndex == 0) type="button" @onclick="() => navigator.ChangePage(HorizontalDirection.Left)">Previous</MatButton>
            <p class="col-4 w-50 text-center text-lg-center">@(navigator.PageIndex + 1) / @navigator.NumPages</p>
            <MatButton Class="col-3 w-25" Unelevated="true" disabled=@(navigator.PageIndex == navigator.NumPages - 1) type="button" @onclick="() => navigator.ChangePage(HorizontalDirection.Right)">Next</MatButton>
        </div>
    </div>
}

<style>
    .menuItem {
        align-items: flex-end;
        font-size: medium;
    }
</style>