@using AssetManagement.Core
@inject AssetService AssetService
@namespace Components

@if (assets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Serienummer</th>
                <th>ID</th>
                <th>Ejer</th>
                <th>Brugernavn</th>
                <th>Sidst Ændret</th>
                <th>PC-AD Status</th>
                <th>State</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IAsset asset in assets)
            {
                <tr>
                    <td>@asset.Model</td>
                    <td>@asset.SerialNumber</td>
                    <td>@asset.Id</td>
                    <td>@asset.CurrentAssetHolder.Label</td>
                    <td>@(asset.CurrentAssetHolder is IEmployee ? ((IEmployee)asset.CurrentAssetHolder).Username : "-")</td>
                    <td>@asset.LastChanged.ToShortDateString()</td>
                    <td>Awaiting Imp.</td>
                    <td>@asset.LastAssetRecord.State</td>
                    <td>
                        <a href="#" target="_blank">Detaljer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
