@page "/AssetDetails"
@page "/AssetDetails/{AssetId:int}"
@inject AssetService AssetService 
@using AssetManagement.Core

@if (Asset == null)
{
    <h1>Loading</h1>
}
else
{
    <h1 class="text-center mb-3">Details for asset @Asset.Model</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <h1>Detaljer</h1>
                <div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td scope="row">Nuværende Ejer</td>
                            <td>
                                <text placeholder="EJER" disabled>@Asset.Model</text>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Nuværende Status</td>
                            <td>
                                <text placeholder="STATUS" disabled>@Asset.LastAssetRecord.State</text>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Serienummer</td>
                            <td>
                                <text placeholder="S/N" disabled>@Asset.SerialNumber</text>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Sidst Ændret</td>
                            <td>
                                <text placeholder="DATO" disabled>@Asset.LastChanged</text>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm">
                <h1>Historik</h1>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>State</th>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Holder</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var assetStateRecord in @Asset.AssetRecords)
                        {
                            <tr>
                                <td>@assetStateRecord.State</td>
                                <td>@assetStateRecord.Date</td>
                                <td>@assetStateRecord.FileName</td>
                                <td>@assetStateRecord.Holder</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .sidebar {
        display: none;
    }

    .top-row {
        display: none;
    }
</style>