@page "/AssetDetails"
@page "/AssetDetails/{AssetId:int}"
@inject AssetService AssetService
@inject IJSRuntime JSRuntime
@using AssetManagement.Models.Asset
@using AssetManagement.Server.Components <!-- This is required though. Don't listen to what it says -->
@inject IMatDialogService MatDialogService

@if (asset == null)
{
    <LoadingBar />
}
else
{
    <h1 class="text-center mb-3">Details for asset @asset.AssetId</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <h1>Detaljer</h1>
                <div class="border border-light p-4 rounded">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td scope="row">Nuværende Ejer</td>
                                <td>
                                    <text placeholder="EJER" disabled>@asset.AssetId</text>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Nuværende Status</td>
                                <td>
                                    <text placeholder="STATUS" disabled>@asset.LastAssetRecord.State</text>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Serienummer</td>
                                <td>
                                    <text placeholder="S/N" disabled>@(asset is ComputerAsset computerAsset ? computerAsset.SerialNumber : "-")</text>
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td scope="row">Sidst Ændret</td>
                                <td>
                                    <text placeholder="DATO" disabled>@asset.LastChanged</text>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container my-2">
                        <div class="row">
                            <MatButton Class="col mb-2" Style="background-color: dodgerblue" Raised="true" Icon="archive" @onclick="() => MoveAssetToDepotPrompt()">Overfør til depot</MatButton>
                        </div>
                        <div class="row">
                            <MatButton Class="col mr-2" Style="background-color: red" Raised="true" Icon="delete_forever" @onclick="() => DeleteAssetPrompt()">Slet</MatButton>
                            <MatButton Class="col ml-2" Style="background-color: orange" Raised="true" Icon="gavel" @onclick="() => MoveAssetToCagePrompt()">Send til bortskaffelse</MatButton>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm">
                <h1>Historik</h1>
                <div class="border border-light p-4 rounded">
                    <table class="table">
                        <thead>
                        <th style="text-align: center;">State</th>
                        <th style="text-align: center;">Date</th>
                        <th style="text-align: center;">Holder</th>
                        </thead>
                        <tbody>
                            @foreach (var record in assetRecords)
                            {
                                <tr>
                                    <td>@record.State</td>
                                    <td>@(record.Timestamp.Date.ToString("d"))</td>
                                    <td>@(record.Holder != null ? record.Holder.Label : "-")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button disabled=@(navigator.PageIndex == 0) class="btn" @onclick="() => navigator.ChangePage(HorizontalDirection.Left)">Previous</button>
                    <button disabled=@(navigator.PageIndex == navigator.NumPages - 1) class="btn" @onclick="() => navigator.ChangePage(HorizontalDirection.Right)">Next</button>
                    <p>@(navigator.PageIndex + 1) / @navigator.NumPages</p>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .border-light {
        border: 5px solid #f7f7f9 !important;
    }
</style>