@page "/AssetDetails"
@page "/AssetDetails/{AssetId:int}"
@inject AssetService AssetService
@inject IJSRuntime JSRuntime
@using AssetManagement.Core
@using AssetManagement.Models.AssetRecord
@using AssetManagement.Server.Components

@if (asset == null)
{
    <h1>Loading</h1>
}
else
{
    <h1 class="text-center mb-3">Details for asset @asset.Model</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <h1>Detaljer</h1>
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">Nuværende Ejer</td>
                                <td>
                                    <text placeholder="EJER" disabled>@asset.Model</text>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Nuværende Status</td>
                                <td>
                                    <text placeholder="STATUS" disabled>@asset.LastAssetRecord.State</text>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Serienummer</td>
                                <td>
                                    <text placeholder="S/N" disabled>@asset.SerialNumber</text>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Sidst Ændret</td>
                                <td>
                                    <text placeholder="DATO" disabled>@asset.LastChanged</text>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container my-2">
                        <div class="row">
                            <button class="btn btn-success col mb-2">Overfør til depot</button>
                            <div class="w-100"></div>
                            <button class="btn btn-danger col mr-2" @onclick="() => DeleteAsset()">Slet</button>
                            <button class="btn btn-warning col ml-2">Send til bortskaffelse</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm">
                <h1>Historik</h1>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Timestamp</th>
                                <th>Filename</th>
                                <th>Holder</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (IAssetRecord assetRecord in pageAssetRecords)
                            {
                                <tr>
                                    <td>@assetRecord.State</td>
                                    <td>@assetRecord.Timestamp</td>
                                    <td>@(assetRecord.Holder != null ? assetRecord.Holder.Label : "-")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button disabled=@(navigator.PageIndex == 0) class="btn" @onclick="() => navigator.ChangePage(HorizontalDirection.Left)">Previous</button>
                    <button disabled=@(navigator.PageIndex == navigator.NumPages - 1) class="btn" @onclick="() => navigator.ChangePage(HorizontalDirection.Right)">Next</button>
                    <p>@(navigator.PageIndex + 1) / @navigator.NumPages</p>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .sidebar {
        display: none;
    }

    .top-row {
        display: none;
    }
</style>